<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Stanwood Module</string>
	<key>Summary</key>
	<string>Empty Module with ViewController, Storyboard, Actionable, Parametable, Presenter</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
  <array>
    <dict>
      <key>Identifier</key>
      <string>productName</string>
      <key>Required</key>
      <true/>
      <key>Name</key>
      <string>Module Name:</string>
      <key>Description</key>
      <string>The name of the Module, View, Presenter, Actionable and Parametable to create</string>
      <key>Type</key>
      <string>text</string>
      <key>Default</key>
      <string></string>
   	</dict>
   	  
   	  
   	  
		<dict>
			<key>Identifier</key>
			<string>cocoaTouchSubclass</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Type of:</string>
			<key>Description</key>
			<string>View, TableView, CollectionView</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>View</string>
			<key>Values</key>
			<array>
				<string>View</string>
				<string>TableView</string>
				<string>CollectionView</string>
			</array>
		</dict>
		
		
		
  </array>
</dict>
</plist>
