<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Firebase-Default-Values-Debug.plist
   PROJECT

   Created by Tal Zion on 09/10/2018.
   Copyright (c) 2018 stanwood GmbH. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
